.confirm {
	h1 {
		margin-bottom: 15px;
	}
	.label,
	.content {
		line-height: 50px;
	}
	.label {
		color: #333;
		font-size: 20px;
		text-align: right;
	}
	.content {
		font-size: 30px;
		text-align: left;
	}
	.btn-lg {
		margin: 5px 0 8px;
		font-size: 25px;
		line-height: 1.8;
	}
}