.scroll-y {
	margin-bottom: 0;
	box-sizing: border-box;
}

.table {
	td,
	th {
		transition: all 0.3s ease;
		&.primary {
			background-color: #2196f3;
			border-color: #2196f3;
		}
	}
	tr {
		&.primary {
			$color: #2196f3;
			background-color: $color;
			border-color: $color;
		}
	}
}

.list-group {
	.list-group-item {
		h4,
		p {
			margin: 0;
		}
		h4 {
			font-size: 20px;
		}
		p {
			font-size: 15px;
		}
	}
}

.confirm-area {
	th {
		width: 80px;
	}
}