html, body {
	height: 100%;
}

.container-wrap {
	position: absolute;
}

.btns-2x2 {
	position: relative;
	width: 100%;
	height: 100%;
	.btn-2x2-wrapper {
		position: absolute;
		width: 50%;
		&:nth-child(1) {
			top: 0;
			left: 0;
			bottom: 50%;
		}
		&:nth-child(2) {
			top: 50%;
			left: 0;
			bottom: 0;
		}
		&:nth-child(3) {
			top: 50%;
			left: 0;
			bottom: 0;
		}
		&:nth-child(4) {
			top: 50%;
			left: 50%;
			bottom: 0;
		}
		.btn {
			position: absolute;
			top: 10px;
			left: 10px;
			bottom: 10px;
			right: 10px;
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
			border-radius: 20px;
			font-size: 60px;
		}
	}
}