<div class="navbar navbar-fuxed-top navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/parking/shop/home">Shop管理画面</a>
		</div>
		<ul class="nav navbar-nav">
			<li>
				<a href="/parking/shop/parkin">代理入庫</a>
			</li>
			<li>
				<a href="/parking/shop/outcheck">代理出庫</a>
			</li>
			<li>
				<a href="/parking/shop/status">駐車状況</a>
			</li>
			<li>
				<a href="/parking/shop/charge">Pチャージ</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
					その他
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="/parking/shop/userentry">ユーザー登録</a>
					</li>
					<li>
						<a href="#">個人情報について</a>
					</li>
					<li>
						<a href="/parking/shop/logout">ログアウト</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>