<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="author" content="Tanabe Lab.">
		<?= $this->headtitle() ?>
		<?= $this->headLink() ?>
		<link rel="stylesheet" href="/shop/stylesheets/main.css">
		<?= $this->headStyle() ?>
		<script src="/shop/scripts/main.js"></script>
		<?= $this->headScript() ?>
	</head>
	<body>
		<?= $this->render($this->content_header) ?>
		<?= $this->layout()->content ?>
	</body>
</html>