<?php
	$this->headTitle('HOME PAGE');
	$this->assign('content_header', 'base-header-shop.phtml');
?>

<div class="container-wrap">
	<ul class="btns-2x2">
		<li class="btn-2x2-wrapper">
			<a href="/parking/shop/parkin" class="btn btn-primary">代理入庫</a>
		</li>
		<li class="btn-2x2-wrapper">
			<a href="/parking/shop/outcheck" class="btn btn-primary">代理出庫</a>
		</li>
		<li class="btn-2x2-wrapper">
			<a href="/parking/shop/charge" class="btn btn-primary">ポイントチャージ</a>
		</li>
		<li class="btn-2x2-wrapper">
			<a href="/parking/shop/status" class="btn btn-primary">駐車状況</a>
		</li>
	</ul>
</div>